@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.App {
  font-family: "Inter", sans-serif;
  text-align: center;
  background: #f5f7fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game {
  display: flex;
  gap: 20px;
  align-items: ;
}

.square {
  height: 60px;
  width: 60px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0; /* Remove border radius */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.square-clicked {
  height: 60px;
  width: 60px;
  color: #333;
  background-color: #636363;
  border: 1px solid #f5f7fa;
  border-radius: 0; /* Remove border radius */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.square:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.board-row {
  display: flex;
  padding: 0px;
  gap: 0px;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 20px; /* Ensure there's some space between the grid and the text */
  font-size: 1.2em;
  color: #333;
}

.game-info {
  margin-top: 20px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #333;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.game-info {
  margin-top: 20px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #333;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
